.git
.github

.DS_Store

info.php
*.md
*.log

docker-local/
docker-compose.*

config/
!config/*-example
**/db_config.ini
**/db_config.devel.ini
**/base_config.php
**/superkey.ini
**/jwt_key.ini
**/db.php
**/instances_config.php
