**/db_config.ini
**/base_config.php
**/superkey.ini
**/jwt_key.ini

db_config.devel.ini
.DS_Store
info.php

docker/_generated_mariadb_data/*
!docker/_generated_mariadb_data/.gitkeep

docker/_generated_files_data/*
!docker/_generated_files_data/.gitkeep

docker-compose.override.yml
.env

config/*.ini
config/*.php

node_modules/
