db_config.ini
db_config.devel.ini
.DS_Store
base_config.php
instances_config.php
info.php
/superkey.ini
/jwt_key.ini

docker/_generated_mariadb_data/*
!docker/_generated_mariadb_data/.gitkeep

docker/_generated_files_data/*
!docker/_generated_files_data/.gitkeep

docker-compose.override.yml
.env
