# must be ended with a new line "LF" (Unix) and not "CRLF" (Windows)
*/15 * * * * CRON=running php "$PROJECT_PATH/cron.php" >/proc/1/fd/1 2>/proc/1/fd/2
# An empty line is required at the end of this file for a valid cron file.
