name: aula-v2

networks:
  aula_local:
    driver: bridge
    external: true

services:
  aula-backend:
    image: aulaapp/aula-backend:latest
    build:
      context: ./
    ports:
      - "8080:80"
    volumes:
      - type: bind
        source: ./storage/oauth-private.key
        target: /opt/laravel/storage/oauth-private.key
        bind:
          create_host_path: false
      - type: bind
        source: ./storage/oauth-public.key
        target: /opt/laravel/storage/oauth-public.key
        bind:
          create_host_path: false
    networks:
      - aula_local

  # a mariadb instance is included here as a docker service, in case you need it
  mariadb:
    image: mariadb:11.7
    ports:
      - "3307:3306"
    environment:
      # @NOTE: if you use this container, these
      #  values need to be reflected in .env
      MARIADB_DATABASE: aula_database
      MARIADB_ROOT_PASSWORD: example
      MARIADB_USER: aula_user
      MARIADB_PASSWORD: example
    volumes:
      - ./docker/mariadb/init-user-privileges.sh:/docker-entrypoint-initdb.d/init-user-privileges.sh
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - aula_local
    profiles: ["v2-only"]

  redis:
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      - aula_local
    profiles: ["v2-only"]
