name: legacy

networks:
  aula_local:
    driver: bridge
    external: true

services:
  aula-backend:
    build:
      context: ./
    environment:
      SUPERKEY: CHANGE_ME
      APACHE_SERVER_NAME: localhost
    ports:
      - "8080:80"
    volumes:
      - type: bind
        source: ./config/
        target: /var/www/html/config
        bind:
          create_host_path: false
      - type: bind
        source: ./docker-local/php.ini-development
        target: /etc/php/8.3/apache2/php.ini
        bind:
          create_host_path: true
    networks:
      - aula_local
